### Day 8 â€” Understanding the Dataset (Exploratory Overview)

In [1]:
import pandas as pd

In [2]:
data = {
    'Name': ['Amit', 'Riya', 'John', 'Sara', 'Raj'],
    'Age': [25, 22, 29, 24, 30],
    'City': ['Delhi', 'Mumbai', 'Delhi', 'London', 'Chennai'],
    'Salary': [50000, 45000, 60000, 70000, 55000]
}

In [3]:
df = pd.DataFrame(data)

print("Dataset:")
print(df)

Dataset:
   Name  Age     City  Salary
0  Amit   25    Delhi   50000
1  Riya   22   Mumbai   45000
2  John   29    Delhi   60000
3  Sara   24   London   70000
4   Raj   30  Chennai   55000

##### 2. Check the shape of the dataset

In [4]:
print("\nShape of dataset (rows, columns):", df.shape)

Shape of dataset (rows, columns): (5, 4)

##### 3. Display column names

In [5]:
print("\nColumn Names:", df.columns)

Column Names: Index(['Name', 'Age', 'City', 'Salary'], dtype='object')

##### 4. Data types of each column

In [6]:
print("\nData Types:")
print(df.dtypes)

Data Types:
Name      object
Age        int64
City      object
Salary     int64
dtype: object

##### 5. Summary statistics for numerical columns

In [7]:
print("\nStatistical Summary:")
print(df.describe())

Statistical Summary:
             Age        Salary
count   5.000000      5.000000
mean   26.000000  56000.000000
std     3.391165   9617.692031
min    22.000000  45000.000000
25%    24.000000  50000.000000
50%    25.000000  55000.000000
75%    29.000000  60000.000000
max    30.000000  70000.000000

##### 6. Summary statistics for categorical columns

In [8]:
print("\nCategorical Summary:")
print(df.describe(include='object'))

Categorical Summary:
        Name   City
count      5      5
unique     5      4
top     Amit  Delhi
freq       1      2

##### 7. Display first & last rows

In [9]:
print("\nFirst 3 rows:")
print(df.head(3))

First 3 rows:
   Name  Age    City  Salary
0  Amit   25   Delhi   50000
1  Riya   22  Mumbai   45000
2  John   29   Delhi   60000

In [10]:
print("\nLast 2 rows:")
print(df.tail(2))

Last 2 rows:
   Name  Age     City  Salary
3  Sara   24   London   70000
4   Raj   30  Chennai   55000

##### 8. Check unique values

In [11]:
print("\nUnique Cities:", df['City'].unique())
print("Number of Unique Cities:", df['City'].nunique())

Unique Cities: ['Delhi' 'Mumbai' 'London' 'Chennai']
Number of Unique Cities: 4

##### 9. Check for missing values

In [12]:
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
Name      0
Age       0
City      0
Salary    0
dtype: int64

##### 10. Basic correlations

In [13]:
print("\nCorrelation Matrix:")
print(df.corr(numeric_only=True))

Correlation Matrix:
             Age    Salary
Age     1.000000  0.229954
Salary  0.229954  1.000000